@import "variables";
@import "mixins";

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background: $white;
  @include light;
  @include lightThemeBg;
}

//Dark mode
.themeDark {
  background: linear-gradient($bgDark, $black);
  @include dark;
  @include darkThemeBg;
  .nav {
    background: $bgDark;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2rem;
  padding: 1rem 0 2rem 0;
}

.grid-horizontal {
  display: grid;
  grid-auto-flow: column;
  overflow-x: auto;
  gap: 2rem;
  padding: 1rem 0 2rem 0;
  scrollbar-width: none;
  grid-auto-columns: minmax(200px, min-content);
}

.category {
  text-align: left;
  padding: 2rem 0 0.5rem 0;
}

.loading {
  text-align: center;
}

.search-result {
  max-width: 250px;
}

.footer {
  display: flex;
  justify-content: space-around;
  padding: 1rem 0;
  font-size: 12px;
}

.view-options {
  justify-self: flex-end;
}

button {
  background: none;
  border: 0;
}
