//Colors
$star-yellow: #ffd43b;
$white: #fff;
$black: #000;
$darkSecondary: #0c0c0c;
$grey: #a7a7a7;

$lightSecondary: #fcfcfc;
$bgDark: #022446;
$navBtn: #ff9f0a;


// Variables
$cursor: pointer;
$borderRadius: 0.5rem;
$borderColor: 1px solid rgba(255, 255, 255, 0.1);
