//Colors
$star-yellow: #ffd43b;
$white: #fff;
$black: #000;
$footerBg: #0c0c0c;
$grey:#A7A7A7;



$btn-primary: #0087ff;
$btn-secondary: #d34247;
$bodyBgBlue: #2a4c82;
$bodyBgRed: #b42b29;
$cardBg: rgba(255, 255, 255, 0.1);
$cardBgHover: rgba(255, 255, 255, 0.5);
$bluebg: #240370;


$bgLight: #F3F4F6;
$bgDark:#022446;
$navBtn:#FF9F0A;

// Variables
$cursor: pointer;
$borderRadius: 0.5rem;
$borderColor: 1px solid rgba(255, 255, 255, 0.1);
